.form-title {
   width: 85%;
   margin: 3rem auto 1.5rem;
}

.wpforms-form {
   width: 85%;
   margin: 0 auto;

   .wpforms-field-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .wpforms-field {
         display: inline-block;
         width: calc(50% - 0.75rem);
         margin-bottom: 1.5rem;

         label {
            display: block;
            margin-bottom: 0.5rem;
         }

         input {
            width: 100%;
            padding: 0.4rem;
            border: 1px solid $dark-green;
            border-radius: $border-radius;
         }
      }

      .wpforms-field-textarea {
         width: 100%;

         textarea {
            width: 100%;
            height: 200px;
            padding: 0.4rem;
            border: 1px solid $dark-green;
            border-radius: $border-radius;
         }
      }
   }
   //Honeypot field
   .wpforms-field-hp {
      display: none;
   }

   .wpforms-submit-container {
      text-align: end;

      .wpforms-submit {
         background-color: $green;
         color: $white;
         padding: 0.8rem 1.8rem;
         border: none;
         border-radius: $border-radius;
         transition: $hover-transition;
         cursor: pointer;

         &:focus,
         &:hover {
            background-color: $dark-green;
         }
      }
   }
}