.latest-courses {
   display: flex;
   background-color: #D9C2AD;
   padding: 1rem;
   box-shadow: 6px 6px 40px #bbb;

   .entry-summary {
      width: calc((100% - 2rem) / 3);
      padding: 0 0.5rem;
   }

   a:focus,
   a:hover {
      color: #558C03;
   }
}