#header {
display: flex;
justify-content: space-between;
align-items: baseline;
font-family: "Amatic SC", serif;
font-weight: 700;
padding: .5rem 0;
border-bottom: 3px solid #558C03;
   h1 {
   font-size: 28px;
   }
   .menu ul {
      display: flex;
      li {
         padding-left: 1rem;
      }
   }
}
